/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body */
body{
    background-color: #add8e6;
    font-family: "nerko one", Arial, Helvetica, sans-serif;
}
/* container */
.container{
    background-color: aqua;
    width: 1024px;
    margin: auto;
    text-align: center;
}
/* header and title */
h1{
    font-size: 55px;
    color:white;
}
/* row */
.row{
    background-color: blueviolet;
}
/* card */
.card{
    background-image: url("../img/pattern.png");
    background-size: contain;
    width:130px;
    height:150px;
    border: 1px solid black;
    display: inline-block;
    margin: 1%;
    border-radius: 10px;
    padding: 20px;
    position: relative;
}
img{
    display: none;
}
.card:hover{
    background-image: none;
}
.card:hover img{
    display: block;
}
/* card text */
.card-text{
    color: orange;
    font-size: 22px;
    position:absolute;
    bottom: 2px;
    left:0;
    width: 100%;
}
