/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body */
body{
    background-color: #add8e6;
    font-family: "nerko one", Arial, Helvetica, sans-serif;
}
/* container */
.container{
    background-color: aqua;
    width: 1024px;
    margin: auto;
    text-align: center;
}
/* header and title */
h1{
    font-size: 55px;
    color:white;
}
/* row */
.row{
    background-color: blueviolet;
}
.card{
    background-color: cornflowerblue;
    width:130px;
    height:150px;
    border: 1px solid black;
    display: inline-block;
    margin: 1%;
    border-radius: 10px;
}