/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body */
body{
    background-color: #add8e6;
    font-family: "nerko one", Arial, Helvetica, sans-serif;
}
/* container */
.container{
    background-color:#add8e6;
    width: 1024px;
    margin: auto;
    text-align: center;
}
/* header and title */
h1{
    font-size: 55px;
    color:white;
    text-shadow: 2px 2px gray;
}
/* row */
.row{
    background-color: #add8e6;
}
/* card */
.card{
    background-color: white;
    background-image: url("../img/pattern.png");
    background-size: contain;
    width:130px;
    height:150px;
    display: inline-block;
    margin: 1%;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    box-shadow: 2px 2px gray;
}
/* immage */
img{
    display: block;
}
.card img{
    display: none;
}
.card:hover{
    background-image: none;
}
.card:hover img{
    display: block;
}
/* card text */
.card-text{
    color: orange;
    font-size: 22px;
    position:absolute;
    bottom: 2px;
    left:0;
    width: 100%;
    
}
.card span{
    display: none;
}

.card:hover span{
    display: inline-block;
}
/* card active */
.card-active{
    background-color: white;
    width:130px;
    height:150px;
    display: inline-block;
    margin: 1%;
    border-radius: 10px;
    padding: 20px;
    position: relative;
}
/* text active */
.card-text-active{
    color: #e32d8e;
    font-size: 22px;
    position:absolute;
    bottom: 2px;
    left:0;
    width: 100%;
}
.card-text-active:hover{
    color:orange;
}
/* footer */
.credit{
    margin-top: 15px;
    text-shadow: 1px 1px white;
}